PORT=5000
MONGODB_URI=your_mongodb_connection_string
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=24h
JWT_ACCESS_EXPIRATION_MINUTES=30
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-actual-email@gmail.com
SMTP_PASS=your-google-app-password
FROM_EMAIL=your-actual-email@gmail.com
FROM_NAME="Optician Online Class"

# Bunny.net Stream Settings
BUNNY_VIDEO_LIBRARY_ID=your_library_id
BUNNY_API_KEY=your_access_key
BUNNY_WEBHOOK_SECRET=Secret_key
BUNNY_STREAM_TOKEN_KEY=ccess_key
